<div class="modal fade" id="toolModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add a tool</h4>
      </div>
      <div class="modal-body">
        MODALLLLLLLLLLLLLLLLL
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-default add-tool" data-toggle="modal" data-target="toolModal">Add a tool</button>


<% @tools.each do |tool| %>
  <div id="tool-<%= tool.id %>">
    <%= image_tag tool.img %>
    <%= tool.name %>
    <% if tool.availability == false && tool.person_id == sessions[:current_user] %>
      <button type="button" class="btn btn-default return-tool">
        Return
      </button>
    <% elsif tool.availability == true %>
      <button type="button" class="btn btn-default checkout-tool">
        Check Out
      </button>
    <% else %>
      <button type="button" class="btn btn-default checkedout-tool">
        Unavailable
      </button>
    <% end %>
  </div>
<% end %>
