// Place all the styles related to the tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media-image{
  display: inline-block;
  margin: 15px;
}

.media-body{
  display: inline-block;
  margin-left: 10px;
}

.media{
  margin: 50px;
}

.media-button{
  display: inline-block;
  margin: 15px;
}

.grey{
  background-color: gray;
}
